@model IEnumerable<InventorySystemWebApp.Models.Item>

<h1>Item List</h1>

<table class="table">
	<thead>
		<tr>
			<th>Item Index</th>
			<th>Name</th>
			<th>Category</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ID</td>
				<td>@item.Name</td>
				<td>@item.Category</td>
				<td>@item.Quantity</td>
				<td>@item.Price</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Item</a>